.panel {
    --base-color: rgba(0, 0, 0, 0.35);
    --hl-color: #ffffff71;
    --border-radius: 0.25rem;

    border-radius: var(--border-radius);
    padding: var(--border-radius);
    background-color: var(--base-color);
    backdrop-filter: blur(5px);
    box-shadow: 0 0 5px var(--base-color);
    border-bottom-width: 0;

    .title {
        font-size: 1.6rem;
        font-weight: 600;
        margin: 0.3rem 1rem;
    }

    &::after {
        content: '';
        display: block;
        background: linear-gradient(
            90deg,
            transparent,
            var(--hl-color),
            transparent
        );
        position: absolute;
        left: var(--border-radius);
        right: var(--border-radius);
        bottom: 0;
        height: 1px;
        opacity: 0;
        transition: opacity 0.3s ease-out;
    }

    &:hover::after {
        opacity: 1;
    }
}

.feature-element {
    position: relative;
    max-width: 65rem;
    margin: 2rem;
    margin-top: 20rem;
    align-self: stretch;

    .content {
        display: flex;
        flex-direction: column;
        padding: 3rem;
    }

    .img,
    img {
        border-radius: 0.25rem;
    }
}

@media screen and (max-width: 770px) {
    .feature-element {
        margin: 1rem;
        margin-top: 6rem;
    }
}
